<div class="car-details-card">
  <div class="mat-card-title">Name:&nbsp;{{product.name}}</div>
  <div>
    <div>
      <div class="details-list-item">
        <span class="text-bold">Result Item:&nbsp;</span>
        <span>{{ itemIndex }}</span>
      </div>
      <div class="text-border"></div>
      <div class="details-list-item">
        <span class="text-bold">Price:&nbsp;</span>
        <span>{{ product.price }}</span>
      </div>
      <div class="text-border"></div>
      <div class="details-list-item">
        <span class="text-bold">Items Left:&nbsp;</span>
        <span>{{ product.itemLeft }}</span>
      </div>
    </div>
  </div>
</div>
