.search-tab {
  // height: 35px;
  // width: 105px;
  background: orange;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px 5px 0;

  .tab-text {
    color: white;
    cursor: pointer;
  }

  .tab-button {
    outline: none;
    margin: 0 0 0 5px;
  }
}
