.product-list-container {
    margin: 27px 0 16px 0;
    .card {
      display: inline-block;
      .card-body {
        padding: 8px;
        display: inline-block;
      }
    }
    .product-filter {
      max-height: 75vh;
      overflow: auto;
      padding: 0 16px 0 0;
      color: #fff;
      padding: 10px 0 10px 16px;
      margin: 0;
      border-radius: 4px;
      display: block;
      position: sticky;
      top: 80px;
      .product-filtersearch {
        padding: 0 1px;
      }
    }
  }
  
  .button-container {
    margin: 18px 0 0;
  }
  
  // @media only screen and (min-width: 767px) {
  //   .product-list-container {
  //     .product-details {
  //       float: left;
  //       width: 50%;
  //     }
  //   }
  // }
  
  // @media only screen and (min-width: 1019px) {
  //   .product-list-container {
  //     .product-details {
  //       width: 33%;
  //     }
  //   }
  // }
  