<div class="row product-list-container">
    <div class="product-filter col-xs-12 col-md-3">
      <app-search-filter
        #searchFilter
        [productList]="productList"
        (filterList)="onListFiltered($event)"
        class="product-filtersearch"
        [categoryList]="categoryList"></app-search-filter>
    </div>
    <div class="product-list card col-xs-12 col-md-9">
      <app-product-card
        *ngFor="let prod of filteredList; let i=index;"
        [product]="prod"
        [itemIndex]="i"
        class="col-lg-4 col-md-6 col-xs-12 col-sm-6 product-list card-body"></app-product-card>
      <div class="error" *ngIf="!filteredList?.length">
        <app-error></app-error>
      </div>
    </div>
</div>

